* {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: auto 150px 85% auto;
  grid-template-rows: 150px 1fr;
  grid-template-areas: "H H H H H" ". F  M M .";
}

.header {
  grid-area: H;
  text-align: center;
}

.filter {
  grid-area: F;
}

.main {
  grid-area: M;
}

.hidden {
  display: none;
}
