.header {
  // position: sticky;
  // top: 0;
  background-color: #2f5d62;
  // font-family: "Fredericka the Great", cursive;
  text-align: left;
  font-size: 1.6em;
  padding: 6px 20px;

  &__text {
    color: #dfeeea;
    letter-spacing: 1.5em;

    // &--bottom {
    //   line-height: 0.8em;
    // }
  }
}
